/*Sizes
1440
1024
768
425
375
320*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', Arial;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/*Flex*/
.flex {
    display: flex;
    /*align-items: center;*/
}

.fdc {
    flex-direction: column;
}

.jsb {
    justify-content: space-between;
}

.jc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.js {
    justify-content: start;
}

/*Heading y P*/
.wt {
    color: white;
}

.bt {
    color: black;
}

.bh {
    font-size: 30px;
    font-weight: 700;
}

.mh {
    font-size: 21px;
    font-weight: 600;
}

.sh {
    font-size: 12px;
    font-weight: 600;
}

.bp {
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    line-height: 21px;
}

/*Margin*/
.bmb {
    margin-bottom: 30px;
}

.mb3 {
    margin-bottom: 30px;
}

.mr4 {
    margin-right: 45px;
}

.seccion {
    padding: 30px 120px 45px;
}

/********/
/*Header*/
/********/
#burgerMenu {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.5s all;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 18px;
    cursor: pointer;
}

#burgerMenu > i {
    color: white;
    font-size: 21px;
}

#headerPrincipal {
    width: 100%;
    background-image: url('imgGenerales/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#headerPrincipal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad del 50% */
    z-index: 1;
}

.navHeader {
    margin-bottom: 90px;
}

.navHeader,
.novedadHeader {
    width: 100%;
    z-index: 2;
}

.logoNav img {
    width: 100px;
    height: 100px;
    display: block;
}

.enlacesNav > li {
    margin: 0 18px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlacesNav > li > a {
    display: block;
    font-size: 21px;
    font-weight: 700;
    color: white;
    padding: 6px 12px;
    transition: 0.5s all;
}

.enlacesNav > li > a:hover {
    color: darkred;
}

.socialIconNav {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-left: 15px;
    transition: 0.5s all;

    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIconNav:hover {
    background-color: darkred;
}

.socialIconNav > i {
    font-size: 21px;
    color: white;
}

/*********/
/*Novedad*/
/*********/
/*.novedadHeader > div {
    width: 50%;
}*/

.novedadHeader img {
    width: 480px;
    display: block;
}

.boton {
    padding: 9px 15px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    color: white;
    border: none;
    font-size: 21px;
    font-family: 'Quicksand', Arial;
    font-weight: 600;
    border-radius: 15px;
    transition: 0.5s all;
    cursor: pointer;
}

.boton:hover {
    background-color: darkred;
}

/************/
/*Destacadas*/
/************/
#seccionDestacadas {
    text-align: center;
}

.destacadas {
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.containerLata {
    border-radius: 15px;
    box-shadow: 0px 0px 6px 0.5px rgba(0, 0, 0, 0.3);
    width: 360px;
    /*height: 465px;*/
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destacada {
    background-color: #000000;
    border-radius: 6px;
    padding: 6px;
    margin-inline-end: auto;
}

.imgDestacada img {
    width: 240px;
    height: 240px;
}

.nombreDestacada {
    margin-bottom: 21px;
}

.descripcionDestacada {
    margin-bottom: 21px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.descripcionDestacada p {
    font-size: 15px;
    color: #000000;
    font-weight: 400;
}

.iconoDestacada {
    height: 36px;
    width: 36px;
    border-radius: 30%;
    margin: 0 15px;
    transition: 0.5s all;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.iconoDestacada:hover {
    background-color: darkred;
}

.iconoDestacada > i {
    font-size: 21px;
    color: white;
}

.containerLata div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisorSeccion {
    margin: 0 90px;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/*Productos*/
.productos {
    margin-bottom: 45px;
}

.productoContainer {
    margin: 0px 24px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    position: relative;
    transition: 0.5s all;
    /* text-align: center;
    vertical-align: middle; */
}

.productoContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad del 50% */
    z-index: 1;
    border-radius: 15px;
}

.productoContainer img {
    width: 100%;
    height: 100%;
    display: block;
    /* position: absolute;
    top: 0;
    left: 0; */
    object-fit: cover;
    border-radius: inherit;
}

.nombreContainer {
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px 18px;
    border-radius: inherit;
    transition: 0.5s all;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nombreContainer:hover {
    background-color: darkred;
}

/*Pedidos*/
.envios {
    margin-bottom: 30px;
}

.paso {
    margin: 0 15px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.paso img {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
}

/*Detalles envío*/
#detallesEnvio {
    padding: 15px;
    margin: 0px 90px 45px 90px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.detalleContainer {
    padding: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    width: 300px;
    margin: 0px 15px;
}

.detalleContainer img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.detalleDescripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detalleDescripcion h3 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 9px;
}

.detalleDescripcion p {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
}

/*Nosotros*/
.infoNosotros > div {
    margin: 0 30px;
}

#slider {
    width: 420px;
    height: 420px;
    background-size: cover;
    background-image: url('nosotros/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
}

#slider img {
    width: 100%;
    height: 100%;
}

.nosotrosInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
}

.nosotrosInfo h1 {
    text-align: start;
}

/*Contacto*/
.contacto h1 {
    text-align: start;
}

.contacto > form {
    width: 420px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 15px;
}

.contacto {
    flex-wrap: wrap;
}

.contacto > div {
    width: 420px;
}

.contacto > form,
.contacto > div {
    margin: 0 30px;
}

.contacto > div > p {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-align: justify;
    margin-bottom: 30px;
}

.contacto > form > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-bottom: 21px;
}

.contacto > form > div > label {
    font-size: 18px;
    margin-bottom: 6px;
    color: black;
    font-weight: 600;
    text-align: start;
}

.contacto > form > div > input {
    width: 100%;
    height: 39px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    padding: 0 9px;
    font-weight: 400;
}

.contacto > form textarea {
    height: 150px;
    width: 100%;
    border-radius: 15px;
    resize: none;
    font-size: 15px;
    padding: 9px 9px;
    border: none;
    font-family: 'Quicksand';
    font-weight: 400;
}

.contacto > div > div {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 9px;
}

.contacto > div > div > i {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    font-size: 24px;
}

.contacto > div > div > p {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
}

#footer {
    background-color: #000000;
    padding: 45px 90px;
    text-align: center;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.info > div > img {
    width: 150px;
    height: 150px;
    margin-right: 6px;
}

.infoFooter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoFooter h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 6px;
    color: white;
    text-align: start;
}

.infoFooter p {
    font-size: 15px;
    font-weight: 400;
    color: white;
    margin-bottom: 6px;
    text-align: start;
}

.iconosFooter {
    display: flex;
    align-items: center;
}

.socialIconFooter {
    background-color: transparent;
    height: 42px;
    width: 42px;
    justify-content: center;
    border-radius: 50%;
    margin-left: 15px;
    transition: 0.5s all;
    display: flex;
    align-items: center;
}

.socialIconFooter:hover {
    background-color: darkred;
}

.socialIconFooter i {
    font-size: 30px;
    color: white;
}

#footer > p {
    font-size: 15px;
    color: white;
    font-weight: 400;
}

/*696 líneas aproximadamente*/


@media only screen and (max-width: 1024px) {
    .mb3 {
        margin-bottom: 15px;
    }

    .seccion {
        padding: 15px 90px 30px;
    }

    /********/
    /*Header*/
    /********/
    .navHeader {
        margin-bottom: 45px;
    }

    .enlacesNav > li {
        margin: 0 12px;
    }

    .enlacesNav > li > a {
        padding: 3px 9px;
    }

    .socialIconNav {
        height: 36px;
        width: 36px;
        margin-left: 9px;
    }

    /*********/
    /*Novedad*/
    /*********/
    .novedadHeader img {
        width: 330px;
    }
} /*Fin 1024px*/

@media only screen and (max-width: 768px) {
    .bh {
        font-size: 27px;
    }

    .bp {
        font-size: 15px;
        line-height: 18px;
    }

    .mb3 {
        margin-bottom: 15px;
    }

    .mr4 {
        margin-right: 30px;
    }

    .seccion {
        padding: 15px 45px 30px;
    }

    /********/
    /*Header*/
    /********/
    #burgerMenu {
        display: flex;
    }

    .navHeader {
        margin-bottom: 45px;
    }

    .logoNav img {
        width: 90px;
        height: 90px;
    }

    .enlacesNav {
        display: none;
    }

    .iconosNav {
        flex-direction: column;
    }

    .socialIconNav {
        height: 30px;
        width: 30px;
        margin-bottom: 3px;
    }

    .socialIconNav > i {
        font-size: 21px;
    }

    /*********/
    /*Novedad*/
    /*********/
    .novedadHeader img {
        width: 300px;
    }

    .boton {
        padding: 9px 15px;
        font-size: 18px;
    }
} /*Fin 768px*/


@media only screen and (max-width: 425px) {
    /*Heading y P*/
    .bh {
        font-size: 24px;
    }

    .mh {
        font-size: 21px;
        font-weight: 600;
    }

    .sh {
        font-size: 12px;
        font-weight: 600;
    }

    .bp {
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
        line-height: 21px;
    }

    .mb3 {
        margin-bottom: 15px;
    }

    .mr4 {
        margin-right: 0;
    }

    .seccion {
        padding: 15px 30px 30px;
    }

    /********/
    /*Header*/
    /********/
    .navHeader {
        margin-bottom: 45px;
    }

    .logoNav img {
        width: 90px;
        height: 90px;
    }

    .socialIconNav {
        height: 30px;
        width: 30px;
    }

    .socialIconNav > i {
        font-size: 21px;
    }

    /*********/
    /*Novedad*/
    /*********/
    .novedadHeader {
        flex-direction: column;
        text-align: center;
    }

    .novedadHeader img {
        width: 270px;
    }

    .novedadHeader h1 {
        margin-top: 15px;
    }

    .novedadHeader p {
        display: none;
    }

    .boton {
        padding: 9px 15px;
        font-size: 18px;
    }
} /*Fin 425px*/

@media only screen and (max-width: 375px) {
    /*Heading y P*/
    .bh {
        font-size: 24px;
    }

    .mh {
        font-size: 21px;
        font-weight: 600;
    }

    .sh {
        font-size: 12px;
        font-weight: 600;
    }

    .bp {
        font-size: 18px;
        font-weight: 400;
        text-align: justify;
        line-height: 21px;
    }

    .mb3 {
        margin-bottom: 15px;
    }

    .mr4 {
        margin-right: 0;
    }

    .seccion {
        padding: 9px 24px 30px;
    }

    /********/
    /*Header*/
    /********/
    .navHeader {
        margin-bottom: 36px;
    }

    .logoNav img {
        width: 75px;
        height: 75px;
    }

    .socialIconNav {
        height: 30px;
        width: 30px;
        margin-bottom: 1.5px;
    }

    .socialIconNav > i {
        font-size: 18px;
    }

    /*********/
    /*Novedad*/
    /*********/
    .novedadHeader img {
        width: 210px;
    }
} /*Fin 375px*/